<style type="text/css" media="screen">
#bootsteps {
  border: 2px solid #FF8C00;
  padding: 2px;
}
</style>
<h1>Boot Steps</h1>
<p>Below you see a Graph representing the bootsteps used by the
current RabbitMQ instance. Use your mouse to move the graph around,
and the mouse wheel to zoom in/out.</p>
<div id="bootsteps"></div>
<%
$.ajax({
  url: "js/viz.js",
  dataType: "script",
  cache: true,
  success: function() {
    var svgData = Viz(boot_steps_visualiser, "svg", "dot");
    //
    $.ajax({
      url: "js/svg-pan-zoom.min.js",
      dataType: "script",
      cache: true,
      success: function() {
        $("#bootsteps").html(svgData);
        var s = $('svg');
        s.removeAttr('viewBox');
        s.attr("width", "100%");
        s.attr("height", "100%");
        var pz = svgPanZoom('svg', {minZoom: 0.25});
        pz.resize();
        pz.fit();
        pz.center();
      }
    });
    //
  }
});
%>
